@import '../../scss/common';

.Episode__header {
    display: flex;
}

.Episode__cover {
    margin-right: 2rem;
}

@include on-narrow {
    .Episode__header {
        flex-direction: column;
        align-items: center;
    }
}

.EpisodePage__go-back {
    width: 10rem;
    background-color: #ddd;
    padding: 1rem;
    border-radius: 6px;
    font-size: 1rem;
    margin-top: 3rem;
}