@import '../../scss/common';

.Show__header {
    display: flex;
}

.Show__cover {
    margin-right: 2rem;
}

@include on-narrow {
    .Show__header {
        flex-direction: column;
        align-items: center;
    }
}